.imageContainer {
	position: relative;

	.title {
		position: absolute;
		top: 50%;
		left: 45%;
		font-size: 3rem;
	}
}

.rowHalls {
	margin-bottom: 30px;
	margin-right: 30px;
	margin-left: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
	margin-top: 40px;
}

.filters {
	display: flex;
	align-items: center;
	justify-content: start;
	margin-left: 156px;

	.customInput {
		background-color: rgb(170, 161, 161);
		border: none;
		color: rgb(24, 21, 21);
		padding: 25px 110px;
		font-size: large;
		width: auto;

		&::placeholder {
			color: rgb(51, 46, 46);
		}
	}

	.searchGroup {
		position: relative;
		width: 100%;

		.inputWrapper {
			position: relative;
			width: 100%;

			.customInput {
				padding-left: 20px;
				margin-left: 15px;
			}
		}
		.search {
			position: absolute;
			top: 40%;
			right: 10%;
			transform: translateX(10%);
			font-size: 1.3rem;
			pointer-events: none;
		}
	}
}

@media (max-width: 750px) {
	.filters {
		flex-direction: column;
		align-items: stretch;
		gap: 16px;
		margin-left: 0;
	}

	.filters .customInput {
		padding: 12px 16px;
		font-size: 0.95rem;
	}

	.filters .searchGroup .search {
		font-size: 1rem;
		right: 8%;
		top: 32%;
	}

	.imageContainer .title {
		font-size: 1.6rem;
		left: 50%;
	}

	.rowHalls :global(.col) {
		flex: 0 0 90%;
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		margin-left: -20px;
	}
}

@media (max-width: 750px) {
	.filters {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin-left: 0;
		gap: 20px;
	}

	.filters :global(.form-group),
	.filters :global(.col-md-4) {
		width: 80%;
	}

	.filters :global(.col-md-4) {
		margin-bottom: 20px;
	}

	.filters .customInput {
		margin-left: 50px;
		width: 80%;
		padding: 15px 20px;
		font-size: 1rem;
	}

	.filters .searchGroup {
		margin-top: 5px;
		right: 15px;
		margin-left: 50px;
	}

	.filters .searchGroup .search {
		top: 35%;
		right: 7%;
		font-size: 1.2rem;
	}

	.rowHalls > div {
		display: flex;
		gap: 20px;
		margin-left: 120px;
	}
}

@media (max-width: 750px) {
	.filters {
		margin-left: 30px;
	}

	.filters .customInput {
		padding: 15px 60px;
	}

	.imageContainer .title {
		font-size: 2.2rem;
		left: 35%;
	}
}

.filters {
	margin-left: 50px;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.filters .customInput {
	padding: 20px 80px;
	width: 100%;
}

	.rowHalls > div {
		display: flex;
		gap: 20px;
		margin-right: 120px;
	}

	.imageContainer .title {
		font-size: 2.5rem;
		left: 40%;
	}
}
